// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Prevent content from bumping against the top of the page
body {
  margin-top: 125px;
  margin-bottom: 100px;
  font-family: 'Khula', sans-serif;
}

#navigation-bar {
  position: absolute;
  top: 5%;
  left: 60%;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  float: left;
  margin-right: 1px;
}

li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #2f3036;
	text-decoration: none;

  // Fading animation
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

li a:visited {
	color: #fff;
  text-decoration: none;
}

li:hover a {
	background: #19c589;
  text-decoration: none;
}

.clicked {
  background: #19c589;
}

.home-button {
  background: #19c589;
}

.home-button:hover {
  background: #f4be38;
}

#about-me {
  // width: 300px;
  height: auto;
  padding: 20px;
  // background-color: #63d16b;
  // border-right: 1px solid black;
  position: fixed;
  left: 180px;
}

.name {
  font-size: 45px;
  line-height: 45px;
}

.social-buttons {
  text-align: center;
}

.social-buttons .fa {
  font-size: 25px;
}

.bio {
  color: #777;
}

.bio:hover {
  color: black;
}

.post {
  margin-bottom: 60px;
}

.post p, .synopsis {
  color: #777;
  line-height: 24px;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.date-published {
  font-size: 20px;
}

.date-published:hover {
  color: black;
}

.source {
  color: #777;
}

.synopsis:hover {
  color: black;
}

.dev {
  margin-bottom: 60px;
}

.dev p {
  color: #777;
  line-height: 24px;
}

.dev p:hover {
  color: black;
}

.dev .fa {
  font-size: 20px;
}

#footer {
  background-color: #777;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 5px;

  // Fading animation
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

#footer:hover {
  background: #19c589;
}

#footer p {
  font-size: 10px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

// Styles for tags

.tag {
  padding: 4px;
  background-color: #777;
  border-radius: 4px;
  font-size: 10px;

  // Fading animation
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.tag:hover {
  background-color: #19c589;
}

// iPhone 6 and 6+
@media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) {

}
