// Mobile CSS
@media screen and (max-width: 1200px) {

  body {
    font-size: 62.5%;
    margin-top: 0;
  }

  #left-margin {
    display: hidden;
  }

  #navigation-bar {
    position: static;
    margin-bottom: 5%;
  }

  ul li {
    display: block;
    clear: left;
    // margin-left: -30px;
    width: 100%;
  }

  li a {
    font-size: 4em;
    height: auto;
  }

  #about-me {
    position: static;
    width: 100%;
  }

}
