// Mobile CSS
@media screen and (max-width: 1200px) {

  html {
    font-size: 62.5%;
  }

  body  {
    margin-top: 0;
    font-size: 2em;
  }

  // #left-margin {
  //   display: hidden;
  // }

  #navigation-bar {
    position: static;
    top: 0;
    margin-bottom: 5%;
  }

  ul {
    margin-left: 0;
    padding: 0 0 0 0;
  }

  ul li {
    display: block;
    clear: left;
    // margin-left: -30px;
    width: 100%;
  }

  li a {
    height: 10%;
  }

  #about-me {
    position: static;
    width: 100%;
  }

}
