<!DOCTYPE html>
<html>
<head>
  <title>Brennan Gamwell | Writing Portfolio</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Custom Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Khula:300,400' rel='stylesheet' type='text/css'>

  <!-- Custom styles via asset pipeline -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- prepare every page for bootstrap by specifying a container div -->
  <div class="container">

    <%= yield %>

  </div>


</body>
</html>
